<div class="panel-heading">
  <div class="search">
    {{input type="text" placeholder="Search by Author Name" value=search}}
  </div>

  {{#link-to "author.create" class="btn-new"}}
    <div class="sr-only">Add new Author</div>
  {{/link-to}}
</div>

<div class="panel-content">
  <h3 class="panel-title">Images</h3>

  {{#if isLoading}}
    <div class="welcome-page">
      <img src="/loading.gif" alt="Welcome">
    </div>
  {{else}}
  <ul class="collection">
    {{#each model.pictures as |Image|}}
      <li>
        <div class="sr-only">Add new Author{{Image.imageName}}</div>
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src={{Image.imageLinc}} alt={{Image.imageNam}} height="200px" width="auto"/>
  <div class="card-body">
    
   <div class="sr-only">Add new Author{{Image.imageName}}</div>

  </div>
</div>
</li> 
    {{/each}}
  </ul>
  {{/if}}
</div>

{{outlet}}